.orbitron-uniquifier {
  font-family: "Orbitron", sans-serif;
}
@font-face {
  font-family: brushhand;
  src: url("fonts/HobbitonBrushhandhobbitonBrush-WygA.ttf");
}

body {
  font-family: "Orbitron", sans-serif;
}

h2 {
  color: khaki;
  text-decoration: wavy underline;
  font-size: 30px;
  text-shadow:
    -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
  text-align: end;
}

main {
  border: 2px dotted black;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  font-family: brushhand, sans-serif;
}
section {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 30vw;
  margin: 3px;
  background-image: url("images/eriadorInFocus.png");
  background-size: cover;
}
.section2 {
  display: flex;
  flex-direction: column;
  border: 4px solid gold;
  width: 60vw;
  margin: 3px;
}

.img {
  background-image: url("images/theRing.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.img:hover {
  background-image: url("images/scarybilbo.webp");
  background-size: cover;
  background-position: center;
}
